# H1 : Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List popular libraries for Data Science
* Create a table in markdown
* Evaluated arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

|Data Science Tools|
|------------------|
|MySql|
|Postgresql|
|Mongodb|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Rajan Shivkumar Singh